.search {
    margin-bottom: 2rem;
   

    &_input {
        display: flex;
        align-items: center;
        @media (max-width: 781px) {
            margin-left: 2rem;
            display: flex;
            justify-content: center;
        }

        @media (max-width: 479px) {
            width: 80%;
        }

        svg {
            transform: translateX(-2rem);
            color: $gray;
        }
    }

    input {
        width: 62%;
        outline: none;
        padding: .5rem  2rem;
        border: .1rem solid $gray;
        border-radius: .3rem;
        font-family: inherit;
        font-size: 1.6rem;

        @media (max-width: 479px) {
            width: 100%;
        }
    }
}