.countries {
    margin-top: 5rem;

    &_list {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        @media (max-width: 781px) {
            justify-content: center;
        }
    }
}