.full-country {
    width: 95%;
    border-radius: .5rem;
    background-color: $white;
    margin: 20px auto;
    padding: 2rem;

    &_prev {
        width: 10rem;
        padding: .3rem 0;
        border-radius: .5rem;
        background-color: $gray-100;
        text-align: center;
        cursor: pointer;
    }

    &_flag {
        width: 15rem;
        height:  15rem;
        margin: 0 auto;
        
        img {
            width: 100%;
            height: 100%;
        }
    }

    &_name {
        font-size: 2.2rem;
        color: $black;
        font-weight: 400;
        text-align: center;
    }

    &_data {
        display: flex;
        justify-content: center;
        gap: 4rem;
        margin-top: 2.4rem;
        height: 50rem;
        overflow-y: auto;
        
        
        @media (max-width: 717px) {
           height: 100%;
           overflow-y: none;
           flex-direction: column;

        }
        
    }

    &_header {
        background-color: $gray-100;
        font-size: 1.8rem;
        font-weight: 500;
        padding: 1rem;
    }
    &_item {
        padding: 1rem;
        font-size: 1.6rem;

        &:nth-child(odd) {
            background-color: #edbfca;
        }
    }
}