.topBar {
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 1rem 2rem;
    border-radius: .3rem;
    justify-content: center;
    margin-top: .2rem;
    margin-right: .5rem;

    @media (max-width: 781px) {
        justify-content: space-between;
    }

    &_hanburge {
        cursor: pointer;
        display: none;

        @media (max-width: 781px) {
            display: block;
        }
    }

    &_menu {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    
    &_link {
        transition: color .4s ;

        &:hover {
            color: $pink;
        }
    }
    
}